<?xml version="1.0" encoding="utf-8"?>
<!--
  FILE INI ADA DI:
  android/app/src/main/AndroidManifest.xml

  PENTING: Ganti/tambahkan 2 hal di AndroidManifest.xml project Flutter kamu:
  1. <uses-permission android:name="android.permission.INTERNET"/>
  2. android:usesCleartextTraffic="true"  (karena pakai HTTP, bukan HTTPS)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- WAJIB: permission internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Sanggar Mulya Bhakti"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- usesCleartextTraffic="true" diperlukan untuk HTTP (bukan HTTPS) -->
        <!-- Saat production dengan domain HTTPS, bisa dihapus -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- splash screen API 31+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>